# Name:Krishnakumar Mandal
# Rollno: 41

In [116]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [117]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler ,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [118]:
import seaborn as sns
titanic_data=sns.load_dataset('titanic')

In [119]:
titanic_data.shape

(891, 15)

In [120]:
titanic_data.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [121]:
titanic_data.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [122]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [123]:
titanic_data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [124]:
missing_values=titanic_data.isnull().sum()
print(missing_values)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [125]:
new_titanic_data=titanic_data.drop(columns=['deck'])

In [126]:
new_titanic_data['age'].fillna(new_titanic_data['age'].median(),inplace=True)

/tmp/ipython-input-4094324744.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_titanic_data['age'].fillna(new_titanic_data['age'].median(),inplace=True)

In [127]:
data=new_titanic_data
print(data['embark_town'].dtype)
data['embark_town'].unique()
data['embark_town'].fillna(data['embark_town'].mode()[0],inplace=True)

object

/tmp/ipython-input-3144237509.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['embark_town'].fillna(data['embark_town'].mode()[0],inplace=True)

In [128]:
print(data['embarked'].dtype)
data['embarked'].unique()
data['embarked'].fillna(data['embarked'].mode()[0],inplace=True)

object

/tmp/ipython-input-3016394876.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['embarked'].fillna(data['embarked'].mode()[0],inplace=True)

In [129]:
print(data.isnull().sum())

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [130]:
le=LabelEncoder()
data['sex']=le.fit_transform(data['sex'])
data['embarked']=le.fit_transform(data['embarked'])

In [131]:
data.head()

   survived  pclass  sex   age  ...  adult_male  embark_town  alive  alone
0         0       3    1  22.0  ...        True  Southampton     no  False
1         1       1    0  38.0  ...       False    Cherbourg    yes  False
2         1       3    0  26.0  ...       False  Southampton    yes   True
3         1       1    0  35.0  ...       False  Southampton    yes  False
4         0       3    1  35.0  ...        True  Southampton     no   True

[5 rows x 14 columns]

In [132]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    int64
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(6), object(3)
memory usage: 79.4+ KB

In [133]:
data=data[['pclass','sex','age','fare','embarked','survived']]

In [134]:
x=data[['pclass','sex','age','fare','embarked']]
y=data['survived']

In [135]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=4)

In [136]:
model=LogisticRegression(max_iter=1000)
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [137]:
y_pred=model.predict(x_test)

In [138]:
accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

0.8212290502793296

In [139]:
new_passanger=pd.DataFrame({
    'pclass':[3],
    'sex':['male'],
    'age':[28],
    'fare':[7.25],
    'embarked':['S']
})

In [140]:
new_passenger_encoded=pd.get_dummies(new_passanger)
new_passanger_encoded=new_passenger_encoded.reindex(columns=x_train.columns,fill_value=0)

In [141]:
prediction=model.predict(new_passanger_encoded)
print("Survived" if prediction[0]==1 else "Didn't survived")

Survived

In [142]:
new_passanger=pd.DataFrame({
    'pclass':[1,3,2],
    'sex':['femail','male','femail'],
    'age':[38,45,14],
    'fare':[80.0,80.5,20.0],
    'embarked': ['C','S','Q']
})

In [143]:
new_passenger_encoded=pd.get_dummies(new_passanger)
new_passanger_encoded=new_passenger_encoded.reindex(columns=x_train.columns,fill_value=0)

In [145]:
predictions=model.predict(new_passanger_encoded)
for i,pred in enumerate(predictions):
  print(f"Passanger {i+1}:",
      "Survived" if pred==1 else "Didn't survived")

Passanger 1: Survived
Passanger 2: Survived
Passanger 3: Survived